{
{% if consul_is_ui %}
  "ui_dir": "{{ consul_home }}/dist",
{% endif %}
{% if consul_is_server %}
  "server": true,
  "bootstrap_expect": {{ consul_bootstrap_expect }},
{% endif %}
  "data_dir": "{{ consul_data_dir }}"
}
