daemonize no
dir /var/lib/redis
bind {{ redis_bind }}
logfile ""
{% for save in redis_save -%}
save {{ save }}
{% endfor -%}
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
