{%- for program, command in deploy_programs.iteritems() %}
[program:{{ program }}]
command={{ command }}
environment={% for key, value in deploy_envvars.iteritems() %}{{ key }}={{ value }},{% endfor %}

directory=/home/{{ deploy_user }}/{{ deploy_application }}/current
user={{ deploy_user }}
stdout_logfile=/var/log/{{ deploy_user }}/%(program_name)s-out.log
stderr_logfile=/var/log/{{ deploy_user }}/%(program_name)s-err.log
autostart=true
{%- endfor %}


[group:{{ deploy_application }}]
programs={% for program in deploy_programs.keys() %}{{ program }},{% endfor %}
